body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.go-white {
  color : white
}
#editor{
  width : 70%;
  background-color: whitesmoke;  
  border-radius: 0px 20px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding : 20px;
  outline:none;
}
#preview{
  background-color: whitesmoke;  
  padding:40px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#preview code {
  padding:5px;
  border-radius: 4px;
  font-weight: bolder;
}